_auth = aHUxMjU2MjA5NjA4QGdtYWlsLmNvbTpBS0NwOG5HUXRoUkRXSm14S1NzYmJFWHdCQWJOclZOSkFwR0NvR0w3VXc0ZXlGRXZKS3U4aXpNZVZtaTdOUUEzekpxcXF3UmhN
email = hu1256209608@gmail.com
always-auth = true
registry = https://qsmdiagnostics.jfrog.io/artifactory/api/npm/qsm-npm/
